<a href="https://colab.research.google.com/github/naranjolaura703/GV918-2022-Week02/blob/main/FINAL_Python_Introduction_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Answer the following

## Create python scaler objects named `num1`, `num2`, `num3`, `str1`, `str2` whose contents are:

- 1
- 3
- 101
- "Introduction"
- "to Python"

In [ ]:
num1 = 1

In [ ]:
num1

1

In [ ]:
num2 = 3

In [ ]:
num2

3

In [ ]:
num3 = 101

In [ ]:
num3

101

In [ ]:
str1 = "Introduction"

In [ ]:
str1

'Introduction'

In [ ]:
str2 = "to Python"

In [ ]:
str2

'to Python'

## Do the following calculation

```
num1 + num2
num1 / num2
str1 + str2
```

In [ ]:
num1 + num2

4

In [ ]:
num1 / num2

0.3333333333333333

In [ ]:
str1 + str2

'Introductionto Python'

In [ ]:
str1 + " " + str2

'Introduction to Python'

## Generate python lists of the following

- sequence of integers from 1 to 10
- sequence of letters from a to g
  - you can try `string.ascii_lowercase`

In [ ]:
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list_b = ["a", "b", "c", "d", "e", "f", "g"]

## From the list above, estract the following:

```
[1, 2, 3, 4, 5]
[4, 5, 6]
['c', 'd', 'e']

```

In [ ]:
list_a[0:5]

[1, 2, 3, 4, 5]

In [ ]:
list_a[3:6]

[4, 5, 6]

In [ ]:
list_b[2:5]

['c', 'd', 'e']

## Loop (and list comprehension)

For the list below, do the following:

1. Print each element using `for` loop
2. Calculate the sum of the elements using `for` loop
3. Print elements which are even numbers (using `%`, `for` and `if`)
  - `%` is an remainder caclulation operator
4. Create a new list with odd numbers in `list_x` 
  1. create a blank list (`new_list = []`
  2. construct a for loop
  2. append an element if even (use `list.append()`)
5. Do the same operation as **4.** with list comprehension

In [ ]:
list_x = [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [ ]:
#1. Print each element using `for` loop:

for k in list_x:
  print(k)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [ ]:
for k in list_x:
  print(k)
  j = k + k
  print(j)
  print("---")

0
0
---
3
6
---
6
12
---
9
18
---
12
24
---
15
30
---
18
36
---
21
42
---
24
48
---
27
54
---
30
60
---
33
66
---
36
72
---
39
78
---
42
84
---
45
90
---
48
96
---

In [ ]:
(4 % 2) == 0

True

In [ ]:
for k in list_x:
  if (k % 2) == 0:
    print(k, "even")
  else:
    pass

0 even
6 even
12 even
18 even
24 even
30 even
36 even
42 even
48 even

In [ ]:
#Create a new list with odd numbers in `list_x` 
#  1. create a blank list (`new_list = []`
#  2. construct a for loop
#  3. append an element if even (use `list.append()`)

list_odd = [] #lista vacia

for k in list_x:
  if (k % 2) != 0:
    list_odd.append(k)

In [ ]:
list_odd

[3, 9, 15, 21, 27, 33, 39, 45]

In [ ]:
list_odd = []
[list_odd.append(k) for k in list_x if (k % 2) != 0]
list_odd

[3, 9, 15, 21, 27, 33, 39, 45]

## Function: Write following functions

- a function to multiply two numbers
- a function to sum numbers in a list
- a function to find the max in a list

In [ ]:
def multiply(x, y):
  z = x * y
  return(z)

In [ ]:
multiply(x = 4, y = 2)
multiply(4, 2)

8

In [1]:
# a function to sum numbers in a list

In [2]:
def addition(a,b):
  c = a + b
  return(c)

In [3]:
addition(50, 100)

150

In [ ]:
list_d = [1, 4, 7, 2]
for j in list_d:
  print(j)

1
4
7
2

In [ ]:
# heights = [100, 2, 300, 10, 11, 1000]
# largest_number = heights[0]
# for number in heights:
#     if number > largest_number:
#        largest_number = number
# print(largest_number)

largest_number = list_d[0]
for number in list_d:
  if number > largest_number: 
    largest_number = number
print(largest_number)

7