# Answer the following

## Create python scaler objects named `num1`, `num2`, `num3`, `str1`, `str2` whose contents are:

- 1
- 3
- 101
- "Introduction"
- "to Python"

In [5]:
num1 = 1

In [6]:
num1

1

In [4]:
num2 = 3

In [7]:
num2

3

## Do the following calculation

```
num1 + num2
num1 / num2
str1 + str2
```

## Generate python lists of the following

- sequence of integers from 1 to 10
- sequence of letters from a to g
  - you can try `string.ascii_lowercase`

## From the list above, estract the following:

```
[1, 2, 3, 4, 5]
[4, 5, 6]
['c', 'd', 'e']

```

## Loop (and list comprehension)

For the list below, do the following:

1. Print each element using `for` loop
2. Calculate the sum of the elements using `for` loop
3. Print elements which are even numbers (using `%`, `for` and `if`)
  - `%` is an remainder caclulation operator
4. Create a new list with odd numbers in `list_x` 
  1. create a blank list (`new_list = []`
  2. construct a for loop
  2. append an element if even (use `list.append()`)
5. Do the same operation as **4.** with list comprehension

In [ ]:
list_x = [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

## Function: Write following functions

- a function to multiply two numbers
- a function to sum numbers in a list
- a function to find the max in a list