# Answer the following

## Create python scaler objects named `num1`, `num2`, `num3`, `str1`, `str2` whose contents are:

- 1
- 3
- 101
- "Introduction"
- "to Python"

In [5]:
num1 = 1

In [6]:
num1

1

In [4]:
num2 = 3

In [7]:
num2

3

In [8]:
num3 = 101

In [9]:
num3

101

In [10]:
str1 = "Introduction"

In [11]:
str1

'Introduction'

In [12]:
str2 = "to Python"

In [13]:
str2

'to Python'

## Do the following calculation

```
num1 + num2
num1 / num2
str1 + str2
```

In [16]:
num1 + num2

4

In [17]:
num1 / num2

0.3333333333333333

In [18]:
str1 + str2

'Introductionto Python'

In [19]:
str1 + " " + str2

'Introduction to Python'

## Generate python lists of the following

- sequence of integers from 1 to 10
- sequence of letters from a to g
  - you can try `string.ascii_lowercase`

In [23]:
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
list_b = ["a", "b", "c", "d", "e", "f", "g"]

## From the list above, estract the following:

```
[1, 2, 3, 4, 5]
[4, 5, 6]
['c', 'd', 'e']

```

In [31]:
list_a[0:5]

[1, 2, 3, 4, 5]

In [34]:
list_a[3:6]

[4, 5, 6]

In [37]:
list_b[2:5]

['c', 'd', 'e']

## Loop (and list comprehension)

For the list below, do the following:

1. Print each element using `for` loop
2. Calculate the sum of the elements using `for` loop
3. Print elements which are even numbers (using `%`, `for` and `if`)
  - `%` is an remainder caclulation operator
4. Create a new list with odd numbers in `list_x` 
  1. create a blank list (`new_list = []`
  2. construct a for loop
  2. append an element if even (use `list.append()`)
5. Do the same operation as **4.** with list comprehension

In [38]:
list_x = [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [44]:
for k in list_x:
  print(k)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [46]:
for k in list_x:
  print(k)
  j = k + k
  print(j)
  print("---")

0
0
---
3
6
---
6
12
---
9
18
---
12
24
---
15
30
---
18
36
---
21
42
---
24
48
---
27
54
---
30
60
---
33
66
---
36
72
---
39
78
---
42
84
---
45
90
---
48
96
---

In [55]:
for k in list_x:
  if k % 2 == 0:
  print("even")

IndentationError: ignored

In [57]:
list_y = [3, 9, 15, 21, 27, 33, 39, 45]

In [58]:
for a in list_y:
  print(a)

3
9
15
21
27
33
39
45

## Function: Write following functions

- a function to multiply two numbers
- a function to sum numbers in a list
- a function to find the max in a list

In [64]:
def my_func(x)
x = x * 2
return(x)

SyntaxError: ignored

In [66]:
list_d = [1, 4, 7, 2]

In [67]:
list_f = [8, 9, 10, 11]